openapi: '3.0.2'
info:
  title: API
  description: MIEM Taiga API
  contact:
    email: vvkovyazin@miem.hse.ru
  version: 0.0.1-oas3
servers:
  - url: http://track.miem.hse.ru/miem/api/
tags:
- name: администраторы
  description: Доступны только администраторам
- name: разработчики
  description: Доступны всем
paths:
  /users:
    post:
      security:
        - bearerAuth: []
      tags:
      - администраторы
      summary: добавляет пользователя в проект
      description: |
        Приглашает пользователя в указаный проект по почте
        пользователя в Тайге с определенной ролью.

        В поле project указывается номер проекта.

        Поле is_leader указывает на особые права пользователя в проекте.

        Возвращает данные о приглашении
        
      operationId: projectsUserPOST
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/user_create'
      responses:
        '401':
          $ref: '#/components/responses/UnauthorizedError'         
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/user_list'
          description: Пользователь успешно добавлен в проект
        "500":
          description: Ошибка со стороны сервера
        "400":
          description: Неправильный запрос
        "404":
          description: Проект или пользователь не найден
      x-swagger-router-controller: Admins
    get:
      tags:
      - разработчики
      summary: предоставляет список всех приглашений
      description: |
        Предоставляет список всех приглашений пользователей
        в проекты.

        Поле role показывает id роли проекта.
        
      operationId: projectsUsersGET
      
      responses:         
        "200":
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/user_list'
          description: Список пользователей успешно получен
        "500":
          description: Ошибка со стороны сервера
        "400":
          description: Неправильный запрос
      x-swagger-router-controller: Developers
  /users/{inviteId}:
    get:
      tags:
      - разработчики
      summary: предоставляет список всех приглашений
      description: |
        Предоставляет одно приглашение пользователея по id. 

        Поле role показывает id роли проекта.
      parameters:
      - name: inviteId
        in: path
        description: ID приглашения пользователя
        required: true
        style: simple
        explode: false
        schema:
          type: integer
      operationId: projectUserGET
      responses:         
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/user_list'
          description: Список пользователей успешно получен
        "500":
          description: Ошибка со стороны сервера
        "400":
          description: Неправильный запрос
      x-swagger-router-controller: Developers
    delete:
      security:
        - bearerAuth: []
      tags:
      - администраторы
      summary: удаляет пользователя из проекта по приглашению
      description: |
        Удаляет пользователя из проекта по id приглашения.
      operationId: projectUserDELETE
      parameters:
      - name: inviteId
        in: path
        description: ID приглашения пользователея
        required: true
        style: simple
        explode: false
        schema:
          type: integer
      responses:
        '401':
          $ref: '#/components/responses/UnauthorizedError'         
        "204":
          description: Пользователь успешно удален из проекта
        "500":
          description: Ошибка на стороне сервера
        "400":
          description: Не были указаны необходимые данные
        "404":
          description: Приглашения с таким ID не существует
      x-swagger-router-controller: Admins
    patch:
      security:
        - bearerAuth: []      
      tags:
      - администраторы
      summary: изменяет данные о приглашении
      description: |
        Изменяет приглашение пользователя в проект.
        
        Если пользователь уже был приглашен в проект через Тайгу,
        но был некативным (не принял приглашение),
        то этот запрос на изменение отразится и на нем.

        Поля user, project и role неизменяемы.

        Если же пользователь уже существует в проекте, как активный,
        поле email будет изменено только в изменяемом приглашении,
        по нему в будущем будут начисляться трудозатраты
        и др. Email у самого пользователея в Тайге останется
        прежним. 
      operationId: projectUserPATCH
      parameters:
      - name: inviteId
        in: path
        description: ID приглашения
        required: true
        style: simple
        explode: false
        schema:
          type: integer
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/user_patch'
      responses:
        '401':
          $ref: '#/components/responses/UnauthorizedError'         
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/user_list'
          description: приглашение изменено
        "500":
          description: Ошибка сервера
        "400":        
          description: Неверные данные
        "404":
          description: Приглашение не найдено
      x-swagger-router-controller: Admins
  
  /projects:
    post:
      security:
        - bearerAuth: []
      tags:
      - администраторы
      summary: создание отслеживаемого проекта 
      description: |
        Создает отслеживаемый проект.
        Проект создается в Тайге с помощью его номера и названия, 
        если проект с таким номером уже существует,
        то просто вернется id этого проекта.
      operationId: createProject
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/project_create'
      responses:
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        "201":
          description: проект успешно создан
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/project_list'
        "400":
          description: bad request
      x-swagger-router-controller: Admins
    get:
      tags:
      - разработчики
      summary: список всех отслеживаемых проектов
      description: |
        Возвращает все проекты, которые подключены к трекингу.
      operationId: lisAllProjects
      responses:
        "200":
          description: успех
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/project_list'
                x-content-type: application/json
      x-swagger-router-controller: Developers
  /projects/{projectNumber}:
    delete:
      security:
        - bearerAuth: []
      tags:
      - администраторы
      summary: удаление отслеживаемого проекта 
      description: |
        Удаляет отслеживаемый проекта.

        Так же удаляет проект в Тайге.
      operationId: deleteProject
      parameters:
      - name: projectNumber
        in: path
        description: Номер проекта
        required: true
        style: simple
        explode: false
        schema:
          type: integer
      responses:
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        "204":
          description: проект успешно удален
        "400":
          description: Неправильный запрос
      x-swagger-router-controller: Admins
    patch:
      security:
        - bearerAuth: []
      tags:
      - администраторы
      summary: изменение отслеживаемого проекта 
      description: |
        Изеняет отслеживаемый проект.
        Все поля проекта, кроме fullname, неизменяемы.

        Все поля так же будут изменены у проекта в Тайге.
      operationId: changeProject
      parameters:
      - name: projectNumber
        in: path
        description: Номер проекта
        required: true
        style: simple
        explode: false
        schema:
          type: integer
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/project_patch'
      responses:
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        "200":
          description: проект успешно изменен
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/project_list'
        "400":
          description: Неправильный запрос
      x-swagger-router-controller: Admins
    get:
      tags:
      - разработчики
      summary: Возвращает проект по его номеру
      description: Возвращает проект с указаным номером 
      operationId: getProject
      parameters:
      - name: projectNumber
        in: path
        description: Номер проекта
        required: true
        style: simple
        explode: false
        schema:
          type: integer
      responses:
        "200":
          description: проект успешно получен
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/project_list'
      x-swagger-router-controller: Developers

components:
  responses:
    UnauthorizedError:
      description: Не были предаставлены данные для авторизации запроса
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
  schemas:
    
    user_list:
      type: object
      properties:
        id:
          type: integer
          format: uuid
          description: id приглашения
        user:
          type: integer
          format: uuid
          description: id пользователя в Тайге. None означает, что пользователь еще не существует в Тайге
        project:
          type: number
          description: номер проекта
        is_leader:
          type: boolean
          description: особые права администратора пользователя
        email:
          type: string
          format: email
          description: почта пользователя по которой приглашается пользователь и по которой ведется учет трудозатрат
        role:
          type: number
          description: id роли пользователя в Тайге
      example:
        id: 1
        user: 1
        project: 111
        is_leader: true
        email: "example@example.com"
        role: 1
    user_create:
      required:
      - project
      - role
      - email
      type: object
      properties:
        project:
          type: number
          format: uuid
        is_leader:
          type: boolean
        email:
          format: string 
          type: string
        role:
          type: string
    user_patch:
      type: object
      description: пример тела запроса для изменения прилашения пользователя
      properties:
        is_leader:
          type: boolean
          description: особые права администратора
        email:
          type: string
          format: email
          description: |
           почта, по которой приглашается пользователь,
            и по которой будет вестись учет трудозатрат 
    project_list:
      type: object
      description: пример отслеживаемого проекта
      properties:
        fullname:
          type: string
        number:
          type: integer
        project:
          type: integer
          format: uuid
      example:
        number: 123
        fullname: "123 Тестовый проект"
        project: 1
    project_create:
      description: пример запроса на созданеи отслеживаемого проекта
      required:
      - number
      - fullname
      type: object
      properties:
        number:
          type: integer
        fullname:
          type: string
      example:
        number: 123
        fullname: "123 Тестовый проект"
    project_patch:
      description: пример запроса изменения отслеживаемого проекта
      type: object
      properties:
        fullname:
          type: string
      example:
        fullname: "123 Тестовый проект"